@use "main-color-palette" as mainCP;
@use "mixins" as mx;
$blocks-height: 100vh;

.home-bg {
  background-image: mainCP.$bg-gradient-oklch;
  height: $blocks-height;
}
.home-content {
  @include mx.resolution-fixed-container;
  display: flex;
  .left-block {
    width: 45%;
    height: $blocks-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    padding: 0 75px;
    .left-block-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      width: 100%;
      & > img {
        width: 100%;
      }
    }
    .title-tag {
      margin: 0;
      background-color: mainCP.$button-color;
      padding: 0 25px;
      line-height: 1.2;
      font-size: 1.25em;
      border: 1px solid mainCP.$accent-color;
      border-radius: 15px;
    }
    .steam-button {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      transform: scale(1.05); // makes visual larger
      @include mx.button-template(
        $box-shadow-y: 15px,
        $padding: 20px 25px,
        $transformYHover: 16px
      );
      img {
        $steam-icon-size: 75px;
        height: $steam-icon-size;
        width: $steam-icon-size;
      }
      p {
        padding-right: 35px;
        text-transform: uppercase;
        font-size: 1.5em;
      }
    }
  }
  .right-block {
    width: 55%;
    height: $blocks-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    .justgrow-image-main {
      width: 100%;
      height: 450px;
      box-shadow: 0 20px 50px 5px #000000db;
      animation: fadeScaleUp 0.4s ease-out;
    }
    .image-slider {
      width: 100%;
      display: flex;
      justify-content: space-around;
      position: relative;
      .justgrow-image {
        width: 176px;
        height: 99px;
        box-shadow: 0 20px 50px 5px #0000008e;
      }
      .justgrow-image-main-small {
        width: 264px;
        height: 148px;
      }
    }
  }
}

@keyframes fadeScaleUp {
  from {
    opacity: 0.5;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
