@use "main-color-palette" as mainCP;
@use "mixins" as mx;
$blocks-height: 100vh;
$arrow-bg-blur-amount: 4px;

.home-bg {
  background-image: mainCP.$bg-gradient-oklch;
  height: 100vh;
}
.home-content {
  @include mx.resolution-fixed-container;
  display: flex;
  .left-block {
    width: 45%;
    height: $blocks-height;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 0 75px;
    // margin-top: 140px;
    & > img {
      width: 100%;
      margin-top: -70px;
      margin-bottom: 10px;
    }
    .title-tag {
      margin: 0;
      background-color: mainCP.$button-color;
      padding: 0 25px;
      line-height: 1.2;
      font-size: 1.25em;
      border: 1px solid mainCP.$accent-color;
      border-radius: 15px;
    }
    .steam-button {
      background-color: mainCP.$button-color;
      position: absolute;
      // top: 640px;
      // left: 355px;
      top: 73%;
      left: 20%;
      display: flex;
      align-items: center;
      gap: 25px;
      padding: 20px 25px;
      border: 3px solid mainCP.$accent-color;
      border-radius: 15px;
      box-shadow: 0 15px 0 0 mainCP.$button-shadow-color;
      transform: scale(1.05);
      color: inherit;
      text-decoration: none;
      z-index: 1;
      transition: all 0.2s ease-in-out;
      img {
        $steam-icon-size: 75px;
        height: $steam-icon-size;
        width: $steam-icon-size;
      }
      p {
        padding-right: 35px;
        text-transform: uppercase;
        font-size: 1.5em;
      }
      &:hover {
        cursor: pointer;
        transform: translateY(10px);
      }
    }
  }
  .right-block {
    width: 55%;
    height: $blocks-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding-top: 70px;
    .justgrow-image-main {
      width: 800px;
      height: 450px;
      box-shadow: 0 20px 50px 5px #000000db;
      animation: fadeScaleUp 0.4s ease-out;
    }
    .image-slider {
      height: 200px;
      width: 800px;
      display: flex;
      justify-content: space-around;
      position: relative;
      .justgrow-image {
        width: 176px;
        height: 99px;
        box-shadow: 0 20px 50px 5px #0000008e;
      }
      .justgrow-image-main-small {
        width: 264px;
        height: 148px;
      }

      // Arrows
      .arrows {
        position: absolute;
        width: 150px;
        height: 200px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 25px;
        // background-color: #000;
        img {
          height: 100px;
          transition: all 0.15s ease-out;
          &:hover {
            transform: scale(1.5);
            cursor: pointer;
          }
        }
      }
      .left-arrow {
        left: 0;
        @include mx.arrow-blur-bg(right, $arrow-bg-blur-amount);
      }
      .right-arrow {
        right: 0;
        @include mx.arrow-blur-bg(left, $arrow-bg-blur-amount);
      }
    }
  }
}

@keyframes fadeScaleUp {
  from {
    opacity: 0.5;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
