@use "main-color-palette" as mainCP;
@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

@mixin tiktok-sans-font($weight: 300) {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include tiktok-sans-font(400);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 500vh;
}
