@use "main-color-palette" as mainCP;
@use "mixins" as mx;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mx.tiktok-sans-font(400);
  color: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}
